*.vscode
#file build for run c-langues
#practice_form_yutube
practice_form_yutube/basic
practice_form_yutube/triang
practice_form_yutube/condition_test

#learn_Book 
learn_Book/assign_typeData
learn_Book/find_curcleArea
learn_Book/find_register
learn_Book/find_Square

# test_gitignore