*.vscode
#file build for run c-langues
#practice_form_yutube
practice_form_yutube/basic
practice_form_yutube/triang
practice_form_yutube/condition_test
practice_form_yutube/String_Message
practice_form_yutube/Various_conditions
practice_form_yutube/Various conditions
practice_form_yutube/apply_loop
practice_form_yutube/charecter
practice_form_yutube/RockPaperScissors
practice_form_yutube/RockPaperScissors.dSYM/
practice_form_yutube/static_function
structure
appl_staticAndStruc
practice_form_yutube/Array
practice_form_yutube/apply_staticAndStruc

#learn_Book 
learn_Book/assign_typeData
learn_Book/find_curcleArea
learn_Book/find_register
learn_Book/find_Square


# test_gitignore
practice_form_yutube/tempCodeRunnerFile.c
css121_practice/compare